body {
    font-family: 'Arial', sans-serif;
    background-image: url('../static/images/IM_background.png');  /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: #333;
    line-height: 1.6; 
  }
  
  .container {
    max-width: 1500px;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .hdr {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .hdr h1 {
    font-size: 2.5em;
    color: #333;
  }
  
  /* Navigation */
  .invntry-mng {
    margin-bottom: 20px;
  }
  
  .invntry-mng ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #4CAF50;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .invntry-mng ul li {
    flex: 1;
  }
  
  .invntry-mng ul li a {
    display: block;
    text-align: center;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s;
  }
  
  .invntry-mng ul li a:hover {
    background-color: #45a049;
  } 
  
  /* Content Sections */
  .content-section {
    display: none; /* Hide all sections by default */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }
  
  .content-section:target {
    display: block; /* Show the section when targeted */
  }
  
  .content-section h2 {
    text-align: center;  
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 8px;
    font-size: 1.1em;
  }
  
  form input, select, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px; 
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #45a049;
  }
   
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th { 
    background-color: #4CAF50;
    color: white;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    header h1 {
      font-size: 2em;
    }
  
    .invntry-mng ul li a {
      font-size: 1em;
    }
  
    form button {
      font-size: 1em;
    }
  }
  
  footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9em;
    color: #777;
    padding: 20px 0;
    background-color: #fff;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer .return-btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    font-size: 1.2em;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;  /* Space between the button and the copyright */
}

footer .return-btn:hover {
    background-color: #2980b9;
}

footer p {
    margin-bottom: 20px;  /* Space between the copyright and the button */
}