/* Style the body to act as a flex container */
body{
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #d1c9a2; /* Optional: Light background */
}

/* Style the form box */
.container {
    width: 400px;
    background-color: #fffae2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px; /* Add some spacing inside */
}

.top{
    display: flex;
    justify-content: center; /* Center horizontally */
}
/* Specific styling for signup inputs */
.container input[type="email"],
.container input[type="text"],
.container input[type="password"]{
    width: 94%; /* Full width of the form box */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Style the submit button */
.container input[type="submit"][value="Login"],
.container input[type="submit"][value="Hire"] {
    background-color: #ffd000;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 100%; /* Full width of the form box */
}
.container input[type="submit"][value="Back"] {
    background-color: #6e6e6e;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 100%; /* Full width of the form box */
}


.container input[type="submit"][value="Login"]:hover,
.container input[type="submit"][value="Hire"]:hover {
    background-color: #997d00; /* Darker blue on hover */
    color: white;
}
.container input[type="submit"][value="Back"]:hover {
    background-color: #4d4d4d; /* Darker blue on hover */
    color: white;
}

