/* General Styles */
.order-details-container {
    margin: 20px 100px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.order-status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

.order-details-container h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #34495e;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.buyer-product-info {
    display: flex;
    justify-content: space-between;
    flex-basis: calc(100% - 20px);
    margin: 10px;
}

.product-info, .seller-info {
    flex: 1;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 10px;
}

.order-details-container p {
    margin-bottom: 8px;
}

.order-details-container strong {
    font-weight: bold;
    color: #566573;
    margin-right: 5px;
}

.back-button {
    display: block;
    background-color: #95a5a6;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #7f8c8d;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
    border: 1px solid #eee;
}
.status-badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.status-badge.pending {
    color: #ffc107; /* Amber/orange color */
}
  
.status-badge.shipped {
    color: #17a2b8; /* Teal/cyan color */
}
  
.status-badge.delivered,
.status-badge.confirmed {
    color: #28a745; /* Green color */
}
.status-badge.cancelled{
     color: #dc3545; /* Red color */
}
.delivery-actions{
    margin-top: 20px;
     text-align: center;
}
.cancel-btn{
     background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
        font-size: 1.1em;
       transition: background-color 0.3s ease, transform 0.3s ease;
          white-space: nowrap;
}
 .cancel-btn:hover{
     background-color: #c0392b;
      transform: translateY(-2px);
}