.page-content {
    flex: 1;
      padding: 40px;
  }
  .page-content h1 {
     margin-bottom: 20px;
      color: #2c3e50;
      font-size: 2.5em;
      text-align: center;
  }
  .all-orders{
      margin-bottom: 20px;
       display: flex;
      flex-direction: column;
       gap: 20px;
  
  }
/* Order Management - Hover Effect */
.order-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.order-item:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
  .order-details{
     flex:1;
        display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .order-info{
          display: flex;
          flex-direction: column;
              gap: 5px;
  }
  .order-info p{
         font-size: 1.1em;
          color: #333;
  }
  .order-status{
         flex:1;
          text-align: right;
  }
  .order-status p{
      font-size: 1em;
       color: #666;
  }
   .status-badge {
      padding: 5px 8px;
      border-radius: 4px;
      color: white;
      font-size: 0.9em;
  }
  
  .status-badge.pending {
      background-color: #f39c12; /* Orange for pending */
  }
  
  .status-badge.shipped {
      background-color: #3498db; /* Blue for shipped */
  }
  
  .status-badge.delivered {
      background-color: #2ecc71; /* Green for delivered */
  }
  
  .status-badge.cancelled {
      background-color: #e74c3c; /* Red for cancelled */
  }
  
  .order-actions{
      flex:0.5;
        text-align: right;
      margin-left: 20px;
  }
  .order-actions .manage-btn {
        background-color: #8b8f92;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
         font-size: 1.1em;
          transition: background-color 0.3s ease, transform 0.3s ease;
          white-space: nowrap;
  
  }
  
  .order-actions .manage-btn:hover{
      background-color: #2980b9;
      transform: translateY(-2px);
  }