<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/navi_admin.css">
</head>
<body>
    <div class="dashboard-container"> 
        <!--Side bar-->
        <aside class="sidebar">
            <div class="logo">
                <a href="{{url_for("admin.dashboard")}}">
                    <img src="/static/images/logo2.png" alt="LOGO"/>
                </a>
            </div>
            <h2>Admin</h2>
            <nav>
                <ul>
                    <li><a href="{{url_for("admin.user_management")}}">User Management</a></li>
                    <li><a href="{{url_for("admin.logistic_management")}}">Logistics Management</a></li>
                    <li><a href="{{url_for("admin.inventory")}}">Inventory</a></li>
                    <li><a href="{{url_for('admin.seller_approval')}}">Seller Approval</a></li>
                </ul>
            </nav>
        </aside>
        <!-- Main Content -->
        <main class="main-content">
            <!-- Header --> 
            <header class="header">
                <h1>Dashboard</h1>
                <div class="profile">
                    <span>Welcome, Admin</span>
                    <div class="profile-img">
                    <img src="/static/images/profile.png" alt="Profile">
                        <div class="profile-dropdown">
                            <ul>
                                <li><a href="adminlogin_page.html">Log Out</a></li>
                                <li><a href="signUp.html">Sign Out</a></li>
                                <li><a href="#">Change Password</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

    {%block content%}
        <section class="dashboard-cards">
            <div class="card email">
                <img src="/static/images/email.jpg" alt="Email">
                <p>Email</p>
                <div class="email-dropdown">
                    <ul>
                        <li><a href="#">New Email</a></li>
                        <li><a href="#">Sent Email</a></li>
                        <li><a href="#">Draft</a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <img src="/static/images/pending.jpg" alt="Pending">
                <p>Pending Requests</p>
            </div>
            <div class="card notification">
                <img src="/static/images/notification.jpg" alt="Notification">
                <p>New Notifications</p>
                <div class="notification-dropdown">
                    <ul>
                        <li><a href="#">New Messages</a></li>
                        <li><a href="#">Request Approval</a></li>
                        <li><a href="#">System Update</a></li>
                    </ul>
            </div>
            </div>
        </section>

        <!-- Quick Links -->
        <section class="quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="user_management.html">Manage Users</a></li>
                <li><a href="add_product.html">Add Inventory Items</a></li>
                <li><a href="adminlogin_page.html">Review Item Requests</a></li>
            </ul>
        </section>
    {%endblock%}
</body>
</html>