{% extends "logistic_page.html" %}
{% block title %}Delivery Management - T&T(Logistic){% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/delivery_management.css">
    <section class="page-content">
        <h1>Delivery Management</h1>
        <div class="delivery-orders">
        {% if shipped_orders %}
            {% for order in shipped_orders %}
                <div class="order-item">
                    <div class="order-details">
                        <div class="order-info">
                            <p><strong>Order ID:</strong> {{order.order_id}}</p>
                            <p><strong>Product Name:</strong> {{order.product_name}}</p>
                        </div>
                        <div class="delivery-status">
                            {% if order.assign_delivery_condition %}
                                {% if order.assign_delivery_condition == 'Non-Deliverable'%}
                                    <span class="status-badge" data-status="Cancelled"><strong>Product:</strong> Order Cancelled❌ </span>
                                {% else %}
                                    <span class="status-badge" data-status="On Progress"><strong>Product:</strong> On Progress🔄</span>
                                {% endif %}
                            {% else %}
                                <span class="status-badge" data-status="Unassign"><strong>Product:</strong> Unassign⚠️</span>
                            {% endif %}
                        </div>
                    </div>
                     <div class="order-actions">
                         <form method="get" action="{{ url_for('logistic.delivery_details', order_id=order.order_id) }}">
                                 <button type="submit" class="assign-btn">Assign</button>
                            </form>
                       </div>
                   </div>
             {% endfor %}
         {% else %}
            <p>No orders with 'Shipped' delivery status at the moment.</p>
          {% endif %}
        </div>
    </section>
{% endblock %}