<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>{%block title%}Home{%endblock%}</title>
    <link rel="stylesheet" href="/static/navi.css">
</head>
<body>   
    <!-- Header Section -->
  <header class="header">
    <div class="logo">
        <a href="/">
            <img src="/static/logo2.png" alt="LOGO" href="/"/>
        </a>
    </div>
    
    <div class="menu">
      <ul>
        {% if not session.get('user_name') %}
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
        {%else%}
          <li><a href="{{url_for('user.logout')}}">Logout</a></li>
        {%endif%}
      </ul>
    </div>
  </header>

  <!-- Navigation Bar -->
  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a href="/product">Product</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

{%block content%}
{%endblock%}

</body>
</html>

