<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>{%block title%}Simple Navigation Bar{%endblock%}</title>
    <link rel="stylesheet" href="/static/navi.css">
</head>
<body>   
    <div class="navibar">
        <nav class="navbar">
            <div>
                <p>LOGO</p>
            </div>
            <div>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div>
            <a class="signup-button" href="/signup">Sign In</a>
            <a class="login-button" href="/login">Log In</a>
        </div>
    </div>
{%block content%}
{%endblock%}

</body>
</html>

