<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>{%block title%}Simple Navigation Bar{%endblock%}</title>
    <link rel="stylesheet" href="/static/navi.css">
</head>
<body>   
    <nav class="navbar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
{%block content%}
{%endblock%}

</body>
</html>

<script>
    $(document).ready(function(){
        $("form").attr("autocomplete", "off")
    });
</script> 