{% extends "admin_page.html" %}
{% block title %}Inventory{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/inventory.css">
<section class="page-content">
    <div class="inventory-container">
         <div class="header-container">
            <h1>Inventory</h1>
           <a href="{{ url_for('product.add_product') }}" class="add-item-btn">Add Item</a>
        </div>
        <div class="product-grid">
            {% for product in products %}
            <div class="product-card">
                  <img src="{{ product.image_path }}" alt="{{ product.name }}" class="product-image">
                <div class="product-details">
                    <a href="{{url_for('product.item_detail', id=product.id)}}" class="product-name">
                         {{ product.name }}
                    </a>
                     <p class="product-quantity">Quantity: {{ product.quantity }}</p>
                      <p class="product-condition">Condition: {{ product.condition }}</p>
                    <p class="product-price">Price: RM{{ product.price }}</p>
                    <div class="actions">
                       <form action="{{ url_for('product.remove_product', product_id=product.id) }}" method="POST" onsubmit="return confirmRemove()">
                            <button type="submit" class="remove-btn">Remove</button>
                       </form>
                         <button type="button" class="notify-btn" onclick="openModal({{ product.id }})">Notify</button>
                  </div>
                </div>
            </div>
            {% else %}
             <p>No products found.</p>
            {% endfor %}
        </div>
    </div>
       <div id="notificationModal" class="modal">
           <div class="modal-content">
               <span class="close" onclick="closeModal()">×</span>
                <div id="modalContent"></div>
           </div>
       </div>
</section>
<script>
        function confirmRemove() {
          return confirm("Are you sure you want to remove this product?");
        }
       function openModal(product_id) {
        var modal = document.getElementById('notificationModal');
        var modalContent = document.getElementById('modalContent');
        modal.style.display = 'block';

        // Load content using AJAX
           fetch('{{ url_for("admin.notify_product_form", product_id=0) | replace("0", "") }}' + product_id)
           .then(response => response.text())
            .then(data => {
               modalContent.innerHTML = data;
            });
      }
    function closeModal() {
        var modal = document.getElementById('notificationModal');
        modal.style.display = 'none';
    }
      window.onclick = function(event) {
          var modal = document.getElementById('notificationModal');
        if(event.target == modal){
            modal.style.display = "none";
         }
      }
    </script>
{% endblock %}