{% extends "logistic_management.html" %}
{% block title %}Logistic Management{%endblock%}

    {%block nested%}
    <link rel="stylesheet" href="/static/logistic_member.css">
        <script>
            // Confirmation dialog function
            function confirmDeletion(event, userName) {
                const confirmation = confirm(`Are you sure you want to delete ${userName}?`);
                if (!confirmation) {
                    event.preventDefault(); // Prevent form submission
                }
            }
        </script>
        <body>

            <div class="container">
                <h1 class="hdr2">User Management</h1>

                <!-- Display Flash Messages -->
                <div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <!-- Table of Members -->
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                        <tr>
                            <td>{{ member.id }}</td>
                            <td>{{ member.first_name }} {{ member.last_name }}</td>
                            <td>{{ member.email }}</td>
                            <td>
                                <!-- Delete member Form -->
                                <form action="#">
                                    <button type="submit" >View</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </body>
    {%endblock%}

