{% extends "index.html" %}
{% block title %} Login Page {%endblock%}

{%block content%}

<link rel="stylesheet" href="/static/login.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<body>
  <div class="login-container">
    <div class="login-box">
      <div class="login-header">
        <div class="logo">
          <i class="fas fa-shopping-cart"></i>
          <span>Trash & Treasure</span> 
        </div>
        <h2>Welcome Back!</h2>
        <p>Please login to access your account.</p>
      </div>
      <form class="login-form" action="{{url_for("login")}}" method='post'>
        <div class="input-group">
          <i class="fas fa-envelope"></i>
          <input type="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="input-group">
          <i class="fas fa-lock"></i>
          <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <i class="fas fa-eye toggle-password" onclick="togglePassword('password')"></i>
        </div>
        <button type="submit" name="submit" value="Login" class="login-btn">Login</button>
        <div class="login-footer">
          <a href="{{url_for("logistic.login")}}">I'm a Logistic</a>
          <a href="{{url_for("signup")}}" class="register-link">Create an Account</a>
        </div>
      </form>
    </div>
  </div>
</body>
<script>
  function togglePassword(inputId) {
    const passwordInput = document.getElementById(inputId);
    const eyeIcon = passwordInput.nextElementSibling; // Get the next sibling which is the i.toggle-password

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      eyeIcon.classList.remove("fa-eye");
      eyeIcon.classList.add("fa-eye-slash");
    } else {
      passwordInput.type = "password";
      eyeIcon.classList.remove("fa-eye-slash");
      eyeIcon.classList.add("fa-eye");
    }
}
</script>

{%endblock%}


