{% extends "admin_page.html" %}
{% block title %}Logistic Management{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/logistic_management.css">
<section class="page-content">
    <div class="logistic-management-container">
         <div class="header-container">
            <h1>Logistic Management</h1>
            <a href="{{ url_for('admin.hire_member') }}" class="hire-member-btn">Hire Member</a>
         </div>
        <div class="table-responsive">
        <table class="logistic-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                 <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{ member.id }}</td>
                    <td>{{ member.first_name }}</td>
                    <td>{{ member.last_name }}</td>
                    <td>{{ member.email }}</td>
                     <td class="action-buttons">
                        <form action="{{ url_for('admin.view_member_details', member_id=member.id) }}" method="GET">
                            <button type="submit" class="view-btn">View</button>
                        </form>
                        <form action="{{url_for('admin.view_logistic_reports', member_id=member.id)}}" method="GET">
                             <button type="submit" class="report-btn">Report</button>
                         </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                  <td colspan="5" style="text-align: center">No logistic members found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</section>
{% endblock %}