{% extends "logistic_page.html" %}
{% block title %}Order Management{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/static/order_management.css">
    <section class="page-content">
        <h1>Order Management</h1>
        <div class="all-orders">
            {% if all_orders %}
                {% for order in all_orders %}
                    <div class="order-item">
                         <div class="order-details">
                           <div class="order-info">
                                <p><strong>Order ID:</strong> {{ order.id }}</p>
                                {% if order.delivery_status == 'Delivered' and order.courier != 'No Courier' and order.courier %}
                                    <img class="courier-img" src="/static/images/{{order.courier}}.png" alt="{{order.courier}}" />
                                {% endif %}
                            </div>
                             <div class="order-status">
                                  <p><strong>Status:</strong> <span class="status-badge {{ order.delivery_status|lower }}">{{ order.delivery_status }}</span></p>
                             </div>

                        </div>
                        <div class="order-actions">
                           <form method="get" action="{{ url_for('logistic.order_details_logistics', order_id=order.id) }}">
                                <button type="submit" class="manage-btn">Manage</button>
                           </form>
                       </div>
                   </div>
                 {% endfor %}
              {% else %}
                <p>No orders available at the moment.</p>
            {% endif %}
        </div>
    </section>
{% endblock %}