{% extends "logistic_page.html" %}
{% block title %}Pickup Management - T&T(Logistic) {% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/pickup_manage.css">
    <section class="page-content">
        <h1>Pickup Management</h1>
        <div class="pickup-requests">
        {% if pickup_requests %}
            {%for request in pickup_requests%}
                <div class="pickup-item">
                    <div class="pickup-details">
                        <div class="id-and-courier">
                            <p><strong>Courier chosen: </strong></p>
                            <img class="courier-img" src="/static/images/{{ request.courier }}.png" alt="{{ request.courier }}"/>
                        </div>
                        
                        <div class="product-address">
                            <p><strong>Order ID: </strong> {{request.order_id}}</p>
                            <p><strong>Seller Address: </strong>{{ request.seller_address }}</p>
                        </div>
                            {% if request.assigned_status == 'Assigned'%}
                                {% if request.delivery_status == 'Pending'%}
                                    <span class="assign-status" data-status="On Progress">Product: On Progress🔄</span>
                                {% else %}
                                    <span class="assign-status" data-status="Arrived">Product: Arrived✅</span>
                                {% endif %}
                            {% else %}
                                <span class="assign-status" data-status="Unassign">Product: Unassign⚠️</span> 
                            {% endif %}
                        </div>
                        <div class="pickup-actions">
                            <a href="{{ url_for('logistic.pickup_details', pickup_id=request.id) }}" class="assign-btn">Assign</a>
                        </div>
                    </div>
            {% endfor %}
        {% else %}
              <p>No pickup requests at the moment.</p>
        {% endif %}
      </div>
    </section>
{% endblock %}

