{% extends "index.html" %}
{% block title %} Login Page {%endblock%}
{%block content%}
{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{category}}">{{message}}</div>
    {%endfor%}
{%endif%}
{%endwith%}
<div class="form-box">
    <div class="register-container" id="register">
        <div class="top">
            <header><center><h1>Sign Up</h1></center></header>
        </div>

        <form action="#" method="post">
            <p><input type="text" name="first_name" placeholder="First Name" ></p>
            <p><input type="text" name="last_name" placeholder="Last Name" ></p>
            <p><input type="email" name="email" placeholder="Email" ></p>
            <p><input type="password" name="password" placeholder="Password" ></p>
            <p><center><input type="submit" value="Register" /></center></p>
        </form>
        <div class="top">
            <span>Have an account? <a href="/login">Login</a></span>
        </div>
    </div>
</div>

{%endblock%}
