{% extends "admin_page.html" %}
{%block content%}
    <link rel="stylesheet" href="/static/user_view.css">
    <script>
        // Confirmation dialog function
        function confirmDeletion(event, userName) {
            const confirmation = confirm(`Are you sure you want to delete ${userName} account?`);
            if (!confirmation) {
                event.preventDefault(); // Prevent form submission
            }
        }
    </script>
    <body>

        <div class="container">
            <header>
                <h1>{{user.firstName}}'s Details</h1>
            </header>

            <nav class="user-mng">
                <ul>
                    <li><a href="#personal-details">View Personal Details</a></li>
                    <li><a href="#transactions">View Transactions</a></li>
                    <li><a href="#change-password">Change Password</a></li>
                    <li><a href="#remove-user">Remove User</a></li>
                </ul>
            </nav>

            <section id="personal-details">
                <h2>Personal Details</h2>
                <p><strong>Name:</strong>{{ user.firstName }} {{ user.lastName }}</p>
                <p><strong>Email:</strong>{{user.email}}</p>
            </section>
          
            <section id="transactions">
                <h2>User Transactions</h2>
                <ul>
                </ul>
            </section>

            <section id="change-password">
                <h2>Change Password</h2>
                <form>
                    <label for="current-password">Current Password:</label>
                    <input type="password" id="current-password" name="current-password">
                    <label for="new-password">New Password:</label>
                    <input type="password" id="new-password" name="new-password">
                    <label for="confirm-password">Confirm New Password:</label>
                    <input type="password" id="confirm-password" name="confirm-password">
                    <button type="submit">Change Password</button>
                </form>
            </section>

            <section id="remove-user">
                <h2>Remove User</h2>
                <form action="{{ url_for('admin.delete_user', id=user.pid) }}" method="POST">
                    <input type="hidden" name="id" value="{{ user.pid }}">
                    <button type="submit" class="delete-button" onclick="confirmDeletion(event, '{{ user.first_name }} {{ user.last_name }}')">Delete</button>
                </form>
            </section>

            <footer>
                <button class="return-btn" onclick="window.location.href='admin_page.html'">Return to Admin Page</button>
                <p></p>
                <p>&copy; 2024 Trash N Treasure User Management System</p>
            </footer>
        </div>

    </body>
{%endblock%}
